div#div_tab_cal {
	width:				100%;
	background-color: 	#000000;
	color: 				#00CC00;
	font-family: 		Courier, Courier New, monospace;
	font-weight:		bold;
	font-size:			2.0vh;
	text-align:			right;
	clear:				none;
}
